@import "tailwindcss";

:root {
  --background: #fecdd3; /* solid pink background */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-libre-baskerville);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
}
